@import '../../variables.scss';

.menuButtonOptionsContainer {
    display: flex;
    flex-direction: column;
    justify-content: revert;
    align-content: center;
    font-size: 1.2rem;
    font-weight: normal;

    span {
        display: block;
        color: #000;
        cursor: pointer;

        &:hover {
            font-weight: bold;
            background-color: rgb(68, 68, 71, .5);
        }
    }

    svg {
        width: 25px;
        height: 25px;
    }
}

span.deleteBtnProperties {
    color: $deleteTextButtonColor;

    &:hover {
        font-weight: bold;
    }
}