@import '../../variables.scss';

.taskContainer {
    background-color: $createTaskBackgroundColor;
    border: 5px solid $taskContainerBorderColor;
    padding: 2rem 3rem;
    margin: 2rem 2.75rem;

    h4, .defaultStatus {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}