@import '../../variables.scss';

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $modalBackground;
    border-radius: 10px;
    padding: 1rem;
    color: #000;
    z-index: 3;
    width: 30%;
    height: 35%;
    text-align: center;

    h4 {
        margin-bottom: 0;
    }

    p {
        margin: 0 auto;
    }

    button,
    input {
        display: block;
        border: none;
        padding: .75rem;
    }

    input {
        margin-bottom: 1rem;
        max-width: 65%;
    }

    button {
        color: $generalButtonTextColor
    }

    .modalActions {
        display: flex;
        justify-content: end;

        button {
            margin: 0 .25rem;

            &:nth-child(1) {
                background-color: $deleteTextButtonColor;

                &:hover {
                    background-color: $modalButtonCancelBackgroundHoverColor;
                    opacity: 1;
                    font-weight: bold;
                }
            }

            &:nth-child(2) {
                background-color: $createTaskButtonColor;

                &:hover {
                    background-color: $modalButtonApplyBackground;
                    opacity: 1;
                    font-weight: bold;
                }
            }
        }

        button:disabled,
        button:disabled:hover {
            font-weight: normal;
            background-color: $disabledBtn;
            opacity: .7;
            cursor: not-allowed;
        }
    }
}

.editSection {
    text-align: left;

    input {
        border: 2px solid #000;
    }
}