@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Encode+Sans+Expanded&family=Lunasima&family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lunasima:wght@400;700&display=swap');

body {
    font-size: 1.2rem;
    font-family: $bodyFont;
}

button {
    font-family: $buttonFont;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }
}

h1 {
    text-align: center;
    text-transform: capitalize;
    font-family: $titleFont
}

h3 {
    color: $subHeaderColor;
    text-transform: capitalize;
    font-family: 'Lunasima', sans-serif;
}

h4 {
    text-transform: capitalize;
    font-family: 'Lunasima', sans-serif;
    font-weight: bold;
}

.header {
    margin: 1rem auto;
    text-align: center;

    h1 {
        margin-bottom: 0;
    }
}