// media queries
$mq-smallScreen: "only screen and (max-width:769px)";
$mq-smallScreenTwo: "only screen and (max-width:767px)";
$mq-mediumScreen: "only screen and (min-width:769px)";
$mq-largeScreen: "only screen and (max-width:1025px)";
$mq-speciallargeScreen: "only screen and (min-width:1024px)";
$mq-xLargeScreen: "only screen and (min-width:1200px)";
$mq-xxLargeScreen: "only screen and (min-width:1400px)";

// General
$subHeaderColor: #e8d720;

// CTA Button properties
$deleteTextColor: #fff;
$deleteTextButtonColor: rgb(177, 36, 36);
$createTaskButtonColor: #2c80b8;
$createTaskBackgroundColor: #222436;
$disabledBtn: #777880;
$completeTaskBackgroundColor: #4b8557;
$activeTaskButtonTextColor: #fff;
$generalButtonTextColor: #fff;

// Modal Buttons properties
$modalBackground: #fcfcfc;
$modalButtonCancelBackgroundHoverColor: #711919;
$modalButtonApplyBackground: #141d68;

// Task Container
$taskContainerBorderColor: #e7e8f3;

// Task - Ticket
$activeTaskBackgroundColor: #8B73FF;
$activeTaskTextColor: #fff;
$completedTaskTextColor: rgb(48 99 56 / 75%);

// SVG
$completedBadgeColor: green;
$completedBadgeBorderColor: gold;