$subHeaderColor: #e8d720;

// CTA Button properties
$deleteTextColor: #fff;
$deleteTextButtonColor: rgb(177, 36, 36);
$createTaskButtonColor: #4db463;
$createTaskBackgroundColor: #222436;
$disabledBtn: #777880;

// Task Container
$taskContainerBorderColor: #e7e8f3;

// Task - Ticket
$activeTaskBackgroundColor: #8B73FF;
$activeTaskTextColor: #fff;
$completedTaskTextColor: rgb(48 99 56 / 75%);

// SVG
$completedBadgeColor: green;
$completedBadgeBorderColor: gold;