// General
$subHeaderColor: #e8d720;

// CTA Button properties
$deleteTextColor: #fff;
$deleteTextButtonColor: rgb(177, 36, 36);
$createTaskButtonColor: #2c80b8;
$createTaskBackgroundColor: #222436;
$disabledBtn: #777880;
$completeTaskBackgroundColor: #4b8557;
$activeTaskButtonTextColor: #fff;
$generalButtonTextColor: #fff;

// Modal Buttons properties
$modalBackground: #fcfcfc;
$modalButtonCancelBackgroundHoverColor: #711919;
$modalButtonApplyBackground: #141d68;

// Task Container
$taskContainerBorderColor: #e7e8f3;

// Task - Ticket
$activeTaskBackgroundColor: #8B73FF;
$activeTaskTextColor: #fff;
$completedTaskTextColor: rgb(48 99 56 / 75%);

// SVG
$completedBadgeColor: green;
$completedBadgeBorderColor: gold;